@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the details below.</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label>Music Name</label>
                <input type="text" name="MusicName" id="MusicName" class="form-control" placeholder="Enter Music Name" required="required" />
            </div>

            <div class="form-group col-md-12">
                <label>Album Name</label>
                <input type="text" name="AlbumName" id="AlbumName" class="form-control" placeholder="Enter Album Name" />
            </div>

            <div class="form-group col-md-12">
                <label>Artist</label>
                <input type="text" name="Artist" id="Artist" class="form-control" placeholder="Enter Artist" required="required" />
            </div>

            <div class="form-group col-md-12">
                <label>Duration</label>
                <input type="text" name="Duration" id="Duration" class="form-control" placeholder="Enter Music Duration" />
            </div>

            <div class="form-group col-md-12">
                <label>Release Year</label>
                <input type="number" name="ReleaseYear" id="ReleaseYear" class="form-control" placeholder="Enter Release Year(between 1800 and 2020)" min="1800" max="2020" />
            </div>

            <div class="form-group col-md-12">
                <div style="float: left; display:inline-block;">
                    <input class="btn btn-success" name="submitButton" id="btnSave" value="Save" type="button">
                </div>
            </div>

        </div>
    </div><hr />
    <table id="tblMusic" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth">ID</th>
                <th align="left" class="productth">Music Name</th>
                <th align="left" class="productth">Album Name</th>
                <th align="left" class="productth">Artist</th>
                <th align="left" class="productth">Music Duration</th>
                <th align="left" class="productth">Release Year</th>
                <th align="left" class="productth">Operations</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(function () {
            LoadData();
        $("#btnSave").click(function () {
            var std = {};
            std.MusicName = $("#MusicName").val();
            std.AlbumName = $("#AlbumName").val();
            std.Artist = $("#Artist").val();
            std.Duration = $("#Duration").val();
            std.ReleaseYear = $("#ReleaseYear").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("createMusic")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.redirectUrl !== undefined) {
                        window.location.replace(result.redirectUrl);
                        LoadData();
                    }
                    
                },
                error: function () {
                    alert("Müzik adı ve artist girdiğinizden emin olun!");
                }
            });
            return false;
        });
        });
        function LoadData() {
            $("#tblMusic tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getAll")',
            dataType: 'json',
            data: { },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.Id + "</td>"
                        + "<td class='prtoducttd'>" + item.MusicName + "</td>"
                        + "<td class='prtoducttd'>" + item.AlbumName + "</td>"
                        + "<td class='prtoducttd'>" + item.Artist + "</td>"
                        + "<td class='prtoducttd'>" + item.Duration + "</td>"
                        + "<td class='prtoducttd'>" + item.ReleaseYear + "</td>"
                        + "<td class='prtoducttd'> <input class='btn btn-danger' name='deleteButton' id='btnDelete' data-id=" + item.Id + " value='Delete' type='button'> <a class='btn btn-info' href='/Home/UpdateView/" + item.Id +"' > Update </a> </td>"
                    + "</tr>";
                    $('#tblMusic tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
        }

        $(document).on('click', '#btnDelete', function () {
                var item_id = $(this).attr("data-id");
                console.log(item_id);
                var confirmDelete = confirm('ID\'si' + item_id + ' olan kayıdı silmek istediğinizden emin misiniz?');
                if (confirmDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ id: item_id }),
                        success: function (result) {
                            if (result.redirectUrl !== undefined) {
                                window.location.replace(result.redirectUrl);
                                LoadData();
                            }
                        },
                        error: function () {
                            alert("bir şey oldu!");
                        }
                    });
                }
            return false;
        });
        $(document).on('click', '#btnUpdate', function () {
                var item_id = $(this).attr("data-id");
                console.log(item_id);
                var confirmDelete = confirm('ID\'si' + item_id + ' olan kayıdı silmek istediğinizden emin misiniz?');
                if (confirmDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ id: item_id }),
                        success: function (result) {
                            if (result.redirectUrl !== undefined) {
                                window.location.replace(result.redirectUrl);
                                LoadData();
                            }
                        },
                        error: function () {
                            alert("bir şey oldu!");
                        }
                    });
                }
            return false;
        });
    </script>
} 